.application {
    font-display: swap;
}

html {
    overflow: hidden !important;
}

.alt-scrollbar {
    --scrollbarBG: #ffffff;
    --thumbBG: rgba(122,122,122,1);
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.theme--dark.alt-scrollbar {
    --scrollbarBG: #1E1E1E;
}

.alt-scrollbar::-webkit-scrollbar {
    width: 9px;
}
.alt-scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
.alt-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.width-100 {
    width: 100%;
}